Package: polkitguard
Version: 1.3.0
Section: utils
Priority: optional
Maintainer: Ghostalex07
Description: Security scanner for Linux Polkit
Architecture: amd64
Depends: libc6
Homepage: https://github.com/Ghostalex07/PolkitGuard